@import 'css_reset.scss';

canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#HUD {
    color: azure;
}

#screen_controls {
    button {
        height: 100px;
        width: 100px;

        @media (hover: hover) {
            visibility: hidden;
        }
    }
}