@import 'assets/styles/rules.scss';

canvas {
    position: absolute;
    width: 100dvh;
    height: 100dvw;
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: rotate(90deg) scaleY(-1);
    z-index: 1;
}

#overlay {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    z-index: 2;
    pointer-events: none;

    button {
        pointer-events: auto;
    }
}